body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBtn {
    padding: 0.50rem 0.30rem;
    border: 3px solid #999999;
    color: #fefefe;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

.colorBtn:hover {
    background: rgba(0, 0, 0);
}